<h3>Editar Estudiante</h3>
{{#each contenido}}

<form action="/editar/{{EST_ID}}" method="post">

    <input type="text" name="nombre" value="{{EST_NOMBRE}}" placeholder="Digite nombre"><br>
    <input type="text" name="pApellido" value="{{EST_PRIMER_APELLIDO}}" placeholder="Digite primer apellido"><br>
    <input type="text" name="sApellido" value="{{EST_SEGUNDO_APELLIDO}}" placeholder="Digite SEGUNDO apellido"><br>
    <input type="text" name="codigo" value="{{EST_CODIGO}}" placeholder="Digite codigo"><br>
    <input type="text" name="correo" value="{{EST_CORREO}}" placeholder="Digite correo"><br>
    <input type="text" name="telefono" value="{{EST_TELEFONO}}" placeholder="Digite telefono"><br>
    <input type="text" name="fechaNac" value="{{EST_FECHA_NAC}}" placeholder="Digite fecha nacimiento"><br>
    <input type="submit" name="aceptar" value="Editar">


</form>

{{/each}}