<h3>LISTADO DE PRODUCTOS</h3>
<table class="table">
    <tr>
        <th>NOMBRE</th>
        <th>PRIMER APELLIDO</th>
        <th>SEGUNDO APELLIDO</th>
        <th>CODIGO</th>
        <th>CORREO</th>
        <th>TELEFONO</th>
        <th>FECHA DE NACIMIENTO</th>
        <th></th>
        <th></th>
    </tr>
    {{#each contenido}}
        <tr>
            <td>{{EST_NOMBRE}}</td>
            <td>{{EST_PRIMER_APELLIDO}}</td>
            <td>{{EST_SEGUNDO_APELLIDO}}</td>
            <td>{{EST_CODIGO}}</td>
            <td>{{EST_CORREO}}</td>
            <td>{{EST_TELEFONO}}</td>
            <td>{{EST_FECHA_NAC}}</td>
            <td><a href="/editar/{{EST_ID}}">Editar</a></td>
            <td><a href="/eliminar/{{EST_ID}}">Eliminar</a></td>
        </tr>
    {{/each}}  
</table>
